/* TRACKING COMMENT HERE FOR LIVE CODE */

/*
PS-Exam
ss1.css
Fall 2016
YOUR NAME HERE
*/

html, body {
	height: 98%;
	background-color: whitesmoke;
	font-family: Helvetica, "Lucida Sans", "Calibri", "sans-serif";
}

header {
	width: 100%;
	height: 25px;
	margin: 10px auto 10px auto;
	padding-bottom: 10px;
	border-bottom: thin solid blue;
}

header img {
	width: 20px;
	height: 20px;
}

header ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

header ul li {
	float: left;
	width: 16%;
	margin: auto;
	text-align: center;
}

header ul a {
	color: blue;
	display: block;
	font-size: 14px;
	font-weight: bold;
	border-radius: 10px;
	text-decoration: none;
	padding: 5px 0px 5px 0px;
	text-transform: uppercase;
}

#wrapper {
	min-height: 100%;
	position: relative;;
}

#prefooter { padding-bottom: 50px; }

footer {
	color: blue;
	width: 100%;
	height: 30px;
	font-size: 75%;
	padding-top: 5px;
	font-weight: bold;
	border-top: thin solid blue;
	position: absolute;
	bottom: 0;
}

footer table {
	width: 100%;
	text-align: center;
}

footer td { width: 34%; }

#main {
	color: blue;
	margin: 40px 0px 40px 0px;
	text-align: center;
	font-weight: bold;
}

#regform {
	width:	35%;
	color: white;
	margin: auto;
	font-size: 90%;
	text-align: left;
	padding-left: 8px;
	line-height: 1.9em;
	background-color: CornflowerBlue;
	/* css3 */
	border: 5px double #4169e1;
	border: 5px double rgb(65,105,225);
	border: 5px double rgb(26%,41%,88%);
	border-radius: 15px;
	box-shadow: 5px 5px 3px 3px rgba(25,75,75,.4);
	/*          Hpos Vpos blur sprd rgb-alpha channel for opacity */
}

label {
	width: 11em;
	float: left;
	text-align: left;
	padding-left: 30px;
}

input[type=text], input[type=password], input[type=email] {
	width: 275px;
	padding: 2px;
	border-radius: 7px;
}

input:not([type=submit]):not([type=checkbox]):not([type=reset]) {
	background:	#fff no-repeat top right;
}

input:not([type=submit]):not([type=checkbox]):required {
	background-image:	url('images/req.png');
}

input:not([type=submit]):not([type=checkbox]):valid {
	background-image:	url('images/val.png');
}

input:not([type=submit]):not([type=checkbox]):focus:invalid {
	background-image:	url('images/inv.png');
}

select {
	width: 285px;
	height: 25px;
	padding: 2px;
	background: #fff;
	border-radius: 7px;
}

select:required { background: #ff0; }
select:valid { background: #fff; }
select:focus:invalid { background: #f00; }

.submit { text-align: center; }

.submit input {
	width: 155px;
	color:	white;
	font-size: 105%;
	font-weight: bold;
	background-color: #11dd11;
	border-radius: 10px;
	box-shadow: 2px 2px 0px 0px rgba(17,238,17,.5);
}

.reset input {
	background-color: #dd1111;
	border-radius: 10px;
	box-shadow: 2px 2px 0px 0px rgba(238,17,17,.5);
}

textarea {
	width: 435px;
	margin-left: 30px;
	padding: 2px;
	border-radius: 7px;
	background: #fff no-repeat top right;
}

textarea:required { background-image: url('images/req.png'); }
textarea:valid { background-image: url('images/val.png'); }
textarea:focus:invalid { background-image: url('images/inv.png'); }

#jsmsg {
	color: red;
	font-size: 80%;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}
