<!--
final
footer.htm
Fall 2016
Caleb King
-->

<footer>
  <div class="footerImages">
    <img src="Final/img/grizzlies.jpg" alt="grizzlies" height="90px" width="70px" />
    <img src="Final/img/kittens.jpg"   alt="kittens" height="90px" width="70px" />
    <img src="Final/img/goat.jpg"  alt="goat" height="90px" width="70px" />
    <img src="Final/img/puppies.jpg"   alt="puppies" height="90px" width="70px" />
    <img src="Final/img/ducksAndKittens.jpg"  alt="duckAndKittens" height="90px" width="70px" />
    <img src="Final/img/grizzlies.jpg" alt="grizzlies" height="90px" width="70px" />
  </div>
   <table>
        <tr>
	    <td>CIS-425</td>
	    <td>Caleb King</td>
	    <td>Fall 2016</td>
	</tr>
  </table>
</footer>
