/*
a1
a1ss.css
Fall 2016
Caleb King
*/
/* selector { property: value/setting; } */

/* Basic rules
html elements: typed directly in
id: preface with #
class: preface with .
*/

html, body {
    height: 98%;
    background-color: whitesmoke;
    font-family: Helvetica, Calibri, "Lucida Sans", san-serif;
}
/*font family serif san-serif cursive monospace fantasy */

header {
  width: 100%;
  height: 35px;
  border-bottom: thin solid blue;
}

header img {
  width: 21px;
  height: 21px;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header ul li {
  float: left;
  width: 7%;
  margin: auto;
  text-align: center;
}

header ul a {
  color: blue;
  display: block;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase;
}

header ul a:hover {
  background: rgba(15, 25, 175, 0.1);
}

/*this 100% correlates to the 98% from the html, body css*/
#wrapper {
  min-height: 100%;
  position: relative;
}

#progressMeter {
  color: blue;
  font-size: 150%;
  text-align: center;
  margin-top: 100px;
}

progress {
    width: 275px;
}

#buttons {
  font-size: 72%;
}

/*This prefooter takes the footer element styles. Account accorindly*/
#prefooter {
  padding-bottom: 50px;
}

footer {
  color: blue;
  width: 100%;
  height: 30px;
  font-size: 75%;
  padding-top: 5px;
  font-weight: bold;
  border-top: 1px solid blue;
  position: absolute;
  bottom: 0;
}

footer table {
  width: 100%;
  text-align: center;
}

footer td {
  width: 15%;
}
