/*
a2
a2ss.css
Fall 2016
Caleb King
*/

/*import a1ss.css stylesheet*/
@import "a1ss.css";


/*a2 code starts here*/
#main {
  color: blue;
  margin: 30px 0px 10px 0px;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.note {
  color: red;
  font-size: 78%;
  font-style: italic;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: -5px;
}

#regform {
  width: 35%;
  color: blue;
  margin: auto;
  font-size: 115%;
  text-align: left;
  padding-left: 30px;
  line-height: 2em;
  border: 1px solid blue;
  background-color: white;
}

label {
  width: 11em;
  float: left;
  text-align: left;
  padding-left: 30px;
}

input[type=text], input[type=password] {
  width: 216px;
  height: 22px;
  padding: 2px;
}

select {
  width: 227px;
  height: 35px;
}

textarea {
  width: 425px;
  margin-left: 30px;
}

.submit {
  text-align: center;
}

.submit input {
  width: 135px;
  color: #33c4ff;
  font-size: 105%;
  font-weight: bold;
  background-color: #777777;
}
