/*
a4
a4ss.css
Fall 2016
Caleb King
*/


/*import a1ss.css stylesheet*/

@import "a3ss.css";

/*a4 code starts here*/

#jsmsgs {
    color: red;
    font-size: 80%;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

header {
    border-bottom: 3px thin blue;
}

footer {
    border-top: 3px double blue;
}

#regform {
    border: 3px double blue;
}

input[type=email] {
    width: 215px;
    height: 20px;
    padding: 2px
}

.submit input {
    color: #99ff33;
}

.submit input {
    color: rgb(153, 255, 51);
}

.reset input {
    color: #33c4ff;
}

input:not([type=submit]):not([type=checkbox]):not([type=reset]) {
    background: #fff no-repeat top right;
}

input:not([type=submit]):not([type=checkbox]):required {
    background-image: url('../images/req.png');
}

input:not([type=submit]):not([type=checkbox]):valid {
    background-image: url('../images/val.png');
}

input:not([type=submit]):not([type=checkbox]):focus:invalid {
    background-image: url('../images/inv.png');
}

select:required {
    background: #ff0;
}

select:valid {
    background: #fff;
}

select:focus:invalid {
    background: #f00;
}

textarea {
    background: #fff no-repeat top right;
}

textarea:required {
    background-image: url('../images/req.png');
}

textarea:valid {
    background-image: url('../images/val.png');
}

textarea:focus:invalid {
  background-image: url('../images/inv.png');
}
