/*
a6
a6ss.css
Fall 2016
Caleb King
*/

@import "a4ss.css";

/*a4 code starts here*/

.check input {
    color: #fff;
    width: 215px;
}


/*looked different on my mac*/

#regform {
    width: 36%;
}

.red {
    color: red;
}

table {
    margin: auto;
}

.projectTable {
    text-align: center;
    width: 100%;
    border: solid 1px blue;
    border-collapse: collapse;
    border-spacing: 0px;
}

.competitorsTable {
  text-align: center;
  width: 100%;
  border: solid 1px blue;
  border-collapse: collapse;
  border-spacing: 0px;

}

#projectTableTitle {
    text-align: center;
}
#projectTableTitle:hover {
  background-color: whitesmoke;
}

table.projectTable td {
    color: #000;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    border: 1px blue solid;
}

.projectTable td:hover {
  background: rgba(15, 25, 175, 0.1);
}

#writeUpDoc {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 999999;
}

table img{
  width:200px;
  height: 80px;
}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table img:hover {
    opacity: 0.5;
}

.ERD {
  max-width: 100%;
  max-height: 100%;
}
