/*
  Caleb King
  CIS-425
  Project - Devboxx
  main.css
*/

@import "a7ss.css";
@import url('https://fonts.googleapis.com/css?family=Quicksand');
/*@import url('../jcart-1.3/style.css');
@import url('../jcart-1.3/jcart/css/jcart.css');*/


html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
    background: #f0eeed;
    color: #676767;
}

.main {
    width: 980px;
    margin: 0 auto;
}

.header:after {
    content: "";
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.header {
    /*2167-Fall/Assignments/project/devboxx/img/navigationBackground.png*/
    background: url(../project/devboxx/img/navigationBackground.png) repeat;
    border-bottom: 5px solid black;
}

.header .branding-title {
    float: left;
    width: 225px;
    height: 100px;
    background: url(../project/devboxx/img/logo.png) 0 6px no-repeat;
    margin-top: 20px;
}

.header .branding-title a {
    display: block;
    height: 125px;
    width: 225px;
}

.header .nav {
    float: right;
    top: 10;
    margin: 0;
    position: relative;
    z-index: 99999999;
}

.header .nav li {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.header .nav li a {
    color: white;
    display: block;
    line-height: 95px;
    padding: 10px 0 0;
    margin-left: 15px;
    width: 100px;
    text-align: left;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header .nav li.on a {
    text-decoration: underline;
}

.header .nav li a:hover, .header .nav li a:active {
    opacity: 0.7;
}

.header .nav li.books a {
    background-position: 8px -5px;
}

.header .nav li.tutorial a {
    background-position: 13px -105px;
}

.header .nav li.podcast a {
    background-position: 15px -235px;
}

.header .nav li.suggest a {
    background-position: 35px -340px;
}

#content {
    min-height: 400px;
    background: #f4f7f8;
}

.section.page:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.section.page {
    padding: 34px 0;
    background: white;
}

.section.page h1 {
    font-size: 24px;
    text-align: center;
    line-height: 1.6;
    font-weight: normal;
}

.section.page .media-details h1 {
    text-align: left;
}

.section.page p {
    width: 475px;
    margin-left: auto;
    margin-right: auto;
}

.section.catalog {
    padding-bottom: 42px;
}

.section.catalog h2 {
    font-size: 24px;
    text-align: center;
    line-height: 1.6;
    font-weight: normal;
    padding-top: 20px;
}

.section.catalog ul.items {
    margin: 0 0 -17px 0;
    padding: 0;
    width: 997px;
}

.section.catalog ul.items li {
    display: inline-block;
    list-style: none;
    width: 204px;
    text-align: center;
    padding: 14px;
    margin: 0 0 17px 17px;
    position: relative;
    left: -17px;
}

.section.catalog ul.items li a:hover:after {
    /*Love this content trick*/
    content: '+';
    font-size: 50px;
    position: absolute;
    top: 35px;
    right: 30px;
    color: #3888c2;
    vertical-align: top;
}

.section.catalog ul.items li a {
    background: white;
    display: block;
    padding: 30px 0 10px;
    text-decoration: none;
}

.details-button {
    color: #888;
}

.section.catalog ul.items li a:hover {
    opacity: 1;
    color: #666;
}

.section.catalog ul.items li img {
    width: 190px;
    border: 6px solid #f0eeed;
}

.section.catalog ul.items li p {
    margin-left: 0;
    margin-right: 0;
    width: auto;
}

.media-picture {
    float: left;
    width: 400px;
    text-align: center;
    border: 1px solid #d9d9d9;
    padding: 14px;
    background: #f0eeed;
}

.media-picture span {
    background: white;
    display: block;
    width: 100%;
    padding: 36px 0 61px;
}

.media-picture img {
    width: 292px;
}

.media-details {
    width: 460px;
    float: right;
}

.media-details form {
    margin-left: 0;
}

#regform {
    width: 55%;
    margin: auto;
    font-size: 115%;
    text-align: left;
    padding-left: 30px;
    line-height: 2em;
    background-color: white;
}

#suggestform {
    width: 50%;
    margin: auto;
    font-size: 115%;
    text-align: left;
    padding-left: 30px;
    line-height: 2em;
    background-color: white;
}

#registerForm {
    width: 35%;
    margin: auto;
    font-size: 115%;
    text-align: left;
    padding-left: 30px;
    line-height: 2em;
    background-color: white;
}

#loginForm {
    width: 40%;
    margin: auto;
    font-size: 115%;
    text-align: left;
    padding-left: 30px;
    line-height: 2em;
    background-color: white;
}

#checkUserNameForm {
    width: 40%;
    margin: auto;
    font-size: 115%;
    text-align: left;
    padding-left: 30px;
    line-height: 2em;
    background-color: white;
}

label {
    width: 11em;
    float: left;
    text-align: left;
    padding-left: 30px;
}

input[type=text], input[type=password], input[type=email] {
    width: 216px;
    height: 22px;
    padding: 2px;
}

select {
    width: 227px;
    height: 35px;
}

textarea {
    width: 425px;
    margin-left: 30px;
}

.submit {
    text-align: center;
}

.submit input {
    width: 150px;
    color: #33c4ff;
    font-size: 70%;
    font-weight: bold;
    background-color: #777777;
}

.search {
    background: #f0eeed;
    border-bottom: 3px solid #dddddd;
    width: 100%;
    text-align: right;
}

.search form {
    margin: 5px 5px 5px auto;
}

.search form input[type="submit"] {
    width: auto;
    text-align: center;
    border: 0;
    background: #3888c2;
    color: #FFF;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px;
    font-family: 'Open Sans', sans-serif;
}

.page p.message {
    background: #ffeca4;
    border: 1px solid #f16702;
    padding: 1em;
    width: 444px;
}

.breadcrumbs {
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0 48px;
}

.breadcrumbs a {
    text-decoration: none;
    color: #3888c2;
}

.note-designer {
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

footer {
    color: blue;
    width: 100%;
    height: 30px;
    font-size: 75%;
    padding-top: 5px;
    font-weight: bold;
    border-top: 1px solid blue;
    position: absolute;
    bottom: 0;
    border: solid 1px blue;
}

footer table {
    width: 100%;
    text-align: center;
}

footer td {
    width: 15%;
}

.footerList {
    display: inline-flex;
    float: right;
    list-style-type: none;
}

.footerList li {
    margin-left: 15px;
    margin-right: 15px;
}

.footerTitle {
    display: inline-flex;
}
