/*
Caleb King
*/


/*
DO NOT DELETE THIS COMMENT! IT IS ERROR-FREE,  AND MUST BE INTACT
WHEN YOUR FILE IS SUBMITTED FOR GRADING.  HTML FILES WITHOUT THIS
COMMENT WILL NOT BE GRADED. CIS-425, FALL 2016 (87977A),BBSLN/87977
bb87977A%2fetch&return#[sessionIP('&Lc7-fx&'.'&asurite+userid&'.'&Lc7-fx&')]#
*/

body {
    background-color: lightblue;
    font-family: Helvetica, "Lucida Sans", Calibri sans-serif;
}

#top td {
    width: 25%;
}

header {
    color: green;
    font-size: 225%;
    font-weight: bold;
    font: italic;
}

.fh {
    color: blue;
    font-size: 105%;
    font-style: italic;
    font-weight: bold;
}

table image {
    width: 75px;
    height: 75px;
}

label {
    padding-left: 35px;
    width: 11em;
    float: left;
    text-align: left;
}

#footer {
    color: red;
    width: 100%;
    height: 30px;
    /*margin: 45px auto;*/
    font-weight: bold;
    border-top: thin solid blue;
    position: absolute;
    bottom: 0;
    padding-top: 5px;
}

#footer table {
    width: 100%;
    text-align: center;
}

#footer td {
    width: 46%;
}

#text {
    color: blue;
    margin: 30px 0px 30px 0px;
    text-align: center;
}

#signin {
    width: 40%;
    color: white;
    margin: auto;
    text-align: left;
    padding-left: 18px;
    line-height: 2.0em;
    background-color: grey;
}

input [type=text] input[type=password] {
    width: 159px;
}

.sumbit {
    text-align: center;
    padding-bottom: 15px;
}

.submit p {
  text-align: center;
}

.submit input {
    width: 250px;
    color: blue;
    font-size: 105%;
    font-weight: bold;
    background-color: white;
}

#messages {
    color: blue;
    font-size: 80%;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.argee {
    color: black;
    font-style: italic;
    font-weight: bold;
    margin-left: 14%;
    text-decoration: underline;
    text-transform: uppercase;
}

#top {
    width: 80%;
    margin: auto;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: thin solid blue;
}

/*white {
    color: white;
}*/

#images {
    /*float: center;*/
    text-align: center;
}

#images img {
    width: 180px;
    height: 180px;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.planetExpress {
    width: 40px;
    height: 40px;
}

li {
  text-decoration: underline;
}
/*
#crew {
  height: 35px;
  width: 35px;
}

#crew img {
  display: inline-block;
}*/


/*images with the same height*/
#crew {
    height: 300px;
    /*width: 400px;*/
    overflow: hidden;
}
#crop img {
    height: 100%;
    width: auto;
}
