<!--
a1
footer.htm
Fall 2016
Caleb King
this file is a snippet. do not need doctype of structal elements
-->

<footer>
   <table>
        <tr>
	    <td>CIS-425</td>
	    <td>Caleb King</td>
	    <td>Fall 2016</td>
	</tr>
  </table>
</footer>
